<div id="channel_lineup" ng-controller="CL_Controller" ng-class="{'com': type=='commercial'}">
<div class="wrapper">
<div class="border">
    <div class="grid">
        <div class="grid__item one-half">
          <h2 class="search-label">Search by Call Letters, Channel Name or Number:</h2>
          <input type=text id="txtSearch" placeholder="Search" ng-model="tempText" ng-keypress="clKeyPress($event)"/>
          <input type="button" class="reset" ng-class="{'active': tempText || inputText || pActive}" value="RESET" id="reset" ng-click="clReset()" />
          <br />
          <small ng-if="!tempText && !inputText" class="result-count red">To look up multiple networks, use a comma (,) to separate search terms</small>
          <small ng-if="msgQuery && tempText == null" class="result-count red">You searched for: &ldquo;<b ng-bind="msgQuery"></b>&rdquo;
          <br /><br /></small>
          <small ng-if="inputText" class="result-count red"><b><span ng-bind="fChannels.result.length"></span> channel(s) found</b><span ng-if="fChannels.result.length == 0"><br />See <a target="_blank" href="/en-us/res/programming/commercials.html">Programming Requests</a> for points about channels not currently available on DIRECTV</span></small>
          <small ng-if="pActive" class="result-count red">Displaying <b ng-bind="fChannels.result.length"></b><span ng-if="hdActive"> HD</span> channels for <a ng-href="{{pActive | findPackage:pActive:packages:'url'}}">{{pActive | findPackage:pActive:packages:'display_name'}}</a> package</small>
        </div>
        <div class="grid__item one-half">
            <div class="link-holder">
                <h2>Useful Links</h2>
                    <div><a href="http://agentanswercenter.directv.com/en-us/res/programming/channel_neighborhoods.html" target="_blank">Channel Neighborhoods</a></div>
                    <div><a href="http://agentanswercenter.directv.com/en-us/res/programming/expired_packages.html" target="_blank">Expired Packages</a></div>
                    <div style="clear: left"><a href="http://agentanswercenter.directv.com/en-us/res/programming/paid_programming_part_time_channels.html" target="_blank">Ad Sales/Paid Program/Part-Time</a></div>
                    <div><a href="http://lil-lookup.directv.com:8080/lil/lilIndex.htm?site=res&amp;requestor=DORIS" target="_blank">Local Channel Availability</a></div>
            </div>
        </div>
    </div>
        <!--end search-box-->
<!--         <div class="clearfix"></div>
        <div class="table-header">
            <div class="pull-left header" id="mainHeader">
                <div class="pull-left wide">
                    <div id="nameSorter">
                        <div class="arrow down pull-left"><img src="../common_assets/img/sort_desc_orange.png" /></div>
                        <div class="arrow up pull-left hidden"><img src="../common_assets/img/sort_asc_orange.png" /></div>
                        <div class="pull-left"><a href="" title="click to sort">Channel Name</a></div>
                    </div>
                    <div id="channelNameSortStart" style="display:none">
                        <div class="arrow pull-left"><img src="../common_assets/img/sort_both.png" /></div>
                        <div class="pull-left"><a href="" title="click to sort">Channel Name</a></div>
                    </div>
                </div>
                <div class="pull-left narrow channel-number">
                    <div id="channelNumberSorter" style="display:none">
                        <div class="arrow down pull-left"><img src="../common_assets/img/sort_desc_orange.png" /></div>
                        <div class="arrow up pull-left hidden"><img src="../common_assets/img/sort_asc_orange.png" /></div>
                        <div class="pull-left"><a href="" title="click to sort">Channel #</a></div>
                    </div>
                    <div id="channelNumberSortStart">
                        <div class="arrow pull-left"><img src="../common_assets/img/sort_both.png" /></div>
                        <div class="pull-left"><a href="" title="click to sort">Channel #</a></div>
                    </div>
                </div>
                <div class="pull-left narrow call-letters">
                    <div id="callLetterSorter" style="display:none">
                        <div class="arrow down pull-left"><img src="../common_assets/img/sort_desc_orange.png" /></div>
                        <div class="arrow up pull-left hidden"><img src="../common_assets/img/sort_asc_orange.png" /></div>
                        <div class="pull-left"><a href="" title="click to sort">Call Letters</a></div>
                    </div>
                    <div id="callLetterSortStart">
                        <div class="arrow pull-left"><img src="../common_assets/img/sort_both.png" /></div>
                        <div class="pull-left"><a href="" title="click to sort">Call Letters</a></div>
                    </div>
                </div>
                <div class="pull-left narrow two genre">
                    <div id="genreSorter" style="display:none">
                        <div class="arrow down pull-left"><img src="../common_assets/img/sort_desc_orange.png" /></div>
                        <div class="arrow up pull-left hidden"><img src="../common_assets/img/sort_asc_orange.png" /></div>
                        <div class="pull-left"><a href="" title="click to sort">Genre</a><span class="alert" id="genreLegend" ng-window-pie>?</span></div>
                    </div>
                    <div id="genreSortStart">
                        <div class="arrow pull-left"><img src="../common_assets/img/sort_both.png" /></div>
                        <div class="pull-left"><a href="" title="click to sort">Genre</a><span class="alert" id="genreLegend" ng-window-pie>?</span></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div> -->
            <!--end of div#mainHeader-->
<!--             <div class="pull-left header rotated" id="packageHeaderContainer">
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <p ng-if="clLoaded != true">Loading&hellip;</p>
        </div> -->

                    <div id="genreCodes" class="qtip-bootstrap">
                        <div class="qtip-content">
                            <img id="cl_genreX" src="../common_assets/img/close_button.jpg" width=10 height=10 />
                            <div class="wwrapper">
                                <div class="pull-left code">FAM</div>
                                <div class="pull-left title">Family</div>
                                <div style="clear:both"></div>
                            </div>
                            <div class="wwrapper">
                                <div class="pull-left code">INT</div>
                                <div class="pull-left title">International</div>
                                <div style="clear:both"></div>
                            </div>
                            <div class="wwrapper">
                                <div class="pull-left code">LIF</div>
                                <div class="pull-left title">Lifestyle</div>
                                <div style="clear:both"></div>
                            </div>
                            <div class="wwrapper">
                                <div class="pull-left code">MOV</div>
                                <div class="pull-left title">Movie</div>
                                <div style="clear:both"></div>
                            </div>
                            <div class="wwrapper">
                                <div class="pull-left code">NEW</div>
                                <div class="pull-left title">News</div>
                                <div style="clear:both"></div>
                            </div>
                            <div class="wwrapper">
                                <div class="pull-left code">SNC</div>
                                <div class="pull-left title">Sonic</div>
                                <div style="clear:both"></div>
                            </div>
                            <div class="wwrapper">
                                <div class="pull-left code">SPA</div>
                                <div class="pull-left title">Spanish</div>
                                <div style="clear:both"></div>
                            </div>
                            <div class="wwrapper last">
                                <div class="pull-left code">SPT</div>
                                <div class="pull-left title">Sports</div>
                                <div style="clear:both"></div>
                            </div>
                        </div>
                    </div>
                    <!--end of div#genreCodes-->
    <p ng-if="clLoaded != true">Loading&hellip;</p>
    <div ng-show="clLoaded" class="grid">
        <div class="grid__item">
            <div id="headerTbl">
                <table>
                    <thead>
                        <tr>
                            <td colspan="4">
                                <div id="xtra_notes">
                                    <h2>Reminders</h2>
                                    <ul>
                                        <li ng-if="type == 'residential'">See <a href="http://agentanswercenter.directv.com/en-us/res/programming/directv_everywhere.html?fragid=3" target="_blank">DIRECTV App</a> for a list of available channels offering streaming content</li>
                                        <li ng-if="type == 'residential'">(<span class="ondemand">*</span>) <a href="http://agentanswercenter.directv.com/en-us/res/rover_tools/redirectors/bce_redirect.html" target="_blank">DIRECTV On Demand</a> | (<span class="rewind">«</span>) <a href="http://agentanswercenter.directv.com/en-us/res/programming/72hr_rewind_restart.html#fragment=4" target="_blank">Rewind &amp; Restart</a></li>
                                        <li ng-if="type == 'commercial'">(m) indicates channels broadcast in <a href="javascript:pop_at('http://agentanswercenter.directv.com/en-us/com/equipment/audio_problems.html',850,600);">mono sound</a>.</li>
                                        <li ng-if="type == 'commercial'"><b>a - Available to in-markets customers only.</b></li>
                                        <li><b>REMINDER:</b> <b>DO NOT</b> discuss <em>exact</em> channel counts with customers</li>
                                        <li>If the customer refers to a package color, see <a href="http://www.directv.com/DTVAPP/packages/base_packages.jsp" target="_blank">DIRECTV TV PACKAGES</a> online</li>
                                    </ul>
                                </div>
                            </td>
                            <td rowspan="2" class="rotate" width="{{width}}" ng-repeat="package in packages">
                                <div>
                                    <div class="grey-border" ng-class="{'odd': $odd, 'even': $even}"></div>
                                </div>
                                <span q-tip><a ng-href="{{package.url}}" target="_blank" ng-bind="package.display_name | comReplace"></a></span>
                            </td>
                        </tr>
                        <tr style="vertical-align: bottom;">
                            <td width="25%">
                                <a class="sortHead" ng-class="{'sorted asc': sortType == 'channelnamebold' && reverse == false, 'sorted desc': sortType == 'channelnamebold' && reverse == true}" href title="Click to sort" ng-click="sorter('channelnamebold')">Channel Name</a>
                            </td>
                            <td width="8.33%">
                                <a class="sortHead" ng-class="{'sorted asc': sortType == 'channelnumber' && reverse == false, 'sorted desc': sortType == 'channelnumber' && reverse == true}" href title="Click to sort" ng-click="sorter('channelnumber')">Channel #</a>
                            </td>
                            <td width="8.33%">
                                <a class="sortHead" ng-class="{'sorted asc': sortType == 'callletters' && reverse == false, 'sorted desc': sortType == 'callletters' && reverse == true}" href title="Click to sort" ng-click="sorter('callletters')">Call Letters</a>
                            </td>
                            <td width="8.33%">
                                <a class="sortHead" ng-class="{'sorted asc': sortType == 'genre' && reverse == false, 'sorted desc': sortType == 'genre' && reverse == true}" href title="Click to sort" ng-click="sorter('genre')">Genre</a>
                            </td>
                        </tr>
                    </thead>
                    <tbody id="containerSmall">
                        <tr>
                            <td colspan="4" class="n-c">
                                <small>Approximate number of HD channels</small>
                                <img class="arrow-icon" src="assets/img/arrow-icon.gif" />
                            </td>
                            <td class="outline" ng-class="{'odd': $odd, 'even': $even}" ng-repeat="package in packages">
                                <a href ng-click="pFilter(package.sortOrder,true)" ng-bind="package.hdChannelCount"></a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="n-c">
                                <small>Approximate number of total channels</small>
                                <img class="arrow-icon" src="assets/img/arrow-icon.gif" />
                            </td>
                            <td class="outline" ng-class="{'odd': $odd, 'even': $even}" ng-repeat="package in packages">
                                <a href ng-click="pFilter(package.sortOrder,false)" ng-bind="package.channelCount"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="vsrepeat">
                <table>
                    <tbody vs-repeat vs-scroll-parent="#vsrepeat">
                        <tr style="height:50px;" ng-repeat="channel in fChannels.result = (channels | clSearch:inputText | byPackage:pActive:hdActive | orderBy:sortType:reverse) track by $index">
                            <td class="c-name" width="25%" ng-bind-html="channel.channelnamebold"></td>
                            <td class="c-num" width="8.33333%" ng-bind-html="channel.channelnumber"></td>
                            <td class="c-num" width="8.33333%" ng-bind-html="channel.callletters"></td>
                            <td class="c-num" width="8.33333%" ng-bind-html="channel.genre"></td>
                            <td class="dot" width="{{width}}" ng-class="{'odd': $odd, 'even': $even}" ng-repeat="package in packages" ng-bind-html="channel['p' + ($index + 1)] | xToBull"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--end of div.table-header-->
<!--             <div id="containerSmall"></div>
            <div id="container"></div> -->
        </div>
    </div>
</div>
</div>
</div>