<div id="offer_calculator" ng-controller="OC_Controller">
    <div class="wrapper">
        <div class="border">
            <h2 class="title">Fall Offer Calculator</h2>
            <p style="font-size:16px;margin-bottom: 40px;"><b>NOTICE:</b> This tool is only for use for DIRECTV customers on enabler and U-verse package upgrades.</p>
            <div class="flex-cont">
                <div class="flex-item layout">
                    <section id="current">
                        <h2><span class="deskHide">1: </span>Current Package</h2>
                        <div class="select-style">
                            <select ng-model="current" ng-change="grey = true" ng-options="package.name for package in packages">
                                <option value="">Please Select</option>
                            </select>
                        </div>
                    </section>
                    <section id="requested">
                        <h2><span class="deskHide">2: </span>Requested Package</h2>
                        <div class="select-style">
                            <select ng-model="requested" ng-change="grey = true" ng-options="package.name for package in packages">
                                <option value="">Please Select</option>
                            </select>
                        </div>
                    </section>
                    <section id="num_rec">
                        <h2><span class="deskHide">3: </span>Number of Receivers</h2>
                        <div class="select-style">
                            <select ng-model="num_rec" ng-change="grey = true" ng-options="rec - 1 as rec for rec in receivers">
                                <option value="">Please Select</option>
                            </select>
                        </div>
                    </section>
                    <section id="stb_promo">
                        <h2><span class="deskHide">4: </span>STB Promo Start Date</h2>
                        <div class="select-style">
                            <select ng-model="stb_promo" ng-change="grey = true" ng-options="promo.label for promo in promos">
                                <option value="">Please Select</option>
                            </select>
                        </div>
                    </section>
                    <section id="promo_pricing">
                        <h2><span class="deskHide">5: </span>Promotional Pricing</h2>
                        <div class="pricing_radio">
                            <label><input type="radio" name="promo_pricing" ng-model="promo_pricing" ng-value="true"> Yes</label> <label><input type="radio" name="promo_pricing" ng-model="promo_pricing" ng-value="false"> No</label>
                        </div>
                    </section>
                </div>
                <div id="side" class="flex-item tri-right">
                    <div>
                        <h2>Total System Price</h2>
                        <div id="pricing" ng-class="{'grey': grey}">
                            <table ng-show="display">
                                <tr>
                                    <td></td>
                                    <td><span ng-bind="cReq[2].price | currency"></span></td>
                                    <td>All Included Fall Offer</td>
                                </tr>
                                <tr ng-show="cDisc < 0" class="credit">
                                    <td>&minus;</td>
                                    <td><span ng-bind="cDisc | currency"></span></td>
                                    <td>Current Promotional Offer</td>
                                </tr>
                                <tr>
                                    <td>&plus;</td>
                                    <td><span ng-bind="cRecFee | currency"></span></td>
                                    <td>Additional Receivers</td>
                                </tr>
                                <tr ng-show="num_rec * 1 + 1 <= stb_promo.num && cCredit < 0" class="credit">
                                    <td>&minus;</td>
                                    <td><span ng-bind="cCredit | currency"></span></td>
                                    <td>Monthly Credit on Customer Bill</td>
                                </tr>
                                <tr>
                                    <td>&equals;</td>
                                    <td><span ng-bind="totals | currency"></span></td>
                                    <td>Total Monthly Charges</td>
                                </tr>
                            </table>
                            <p ng-show="display && num_rec * 1 + 1 <= stb_promo.num && cCredit >= 0">Fall Offer price is lower than existing package price</p>
                            <button ng-click="current && requested && num_rec && stb_promo && promo_pricing != undefined && calculate()" class="pp-btn mrr10">Calculate</button> <button ng-click="reset()" class="pp-btn">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>