<div id="package_compare" class="full" ng-controller="AppController">
<div class="wrapper">
    <div class="border" ng-window-pie>
        <div class="alert_box">
                <img class="close_notification" src="../common_assets/img/close_button.jpg" width=10 height=10 />
                <div class="alert_message"></div>
        </div>
        <div class="headers grid">
            <div class="grid__item one-quarter">
                <h2>Current Package</h2>
            </div>
            <div class="grid__item one-half" style="text-align: center;">
                <input type="button" class="reset" ng-class="{'active': resetActive}" value="RESET" ng-click="reset();" ng-window-pie></input>
            </div>
            <div class="grid__item one-quarter">
                <h2>Requested Package</h2>
            </div>
        </div>
        <!--start row for package dropdowns-->
        <div class="grid">
            <div class="current grid__item one-quarter">
                <select ng-hide="pcLoaded"><option value="" disabled selected>Loading&hellip;</option></select>
                <select ng-show="pcLoaded" data-placeholder="Type or Select Package:" tabindex="2" ng-model="current_pkg" ng-options="current_pkg as (current_pkg.dname + ' ' + dataStore.getDisplayPrice(current_pkg.price,volume) + ' (' + current_pkg.count + ')') group by current_pkg.company for current_pkg in current_pkgs | orderBy:'dname'" name="current_package" class="convert-from chosen-select" chosen="current_pkgs" required>
                </select>
            </div>
            <div class="grid__item one-half">
                <div id="cl_genreLegend" >
                    <span id="filterText">Legend/Filter<span class="alert" ng-window-pie>?</span></span>
                    <div id="cl_genreCodes">
                        <img id="genreX" src="../common_assets/img/close_button.jpg" width=10 height=10 />
                        <div class="last">
                           <div class="pull-left code">*</div>
                           <div class="pull-left title"><a href="http://agentanswercenterstg.directv.com/en-us/res/ace/vod_index.html" target="_blank">DIRECTV On Demand</a></div>
                           <div style="clear:both"></div>
                        </div>
                        <div class="last">
                           <div class="pull-left code">&#171;</div>
                           <div class="pull-left title"><a href="http://agentanswercenterstg.directv.com/en-us/res/programming/72hr_rewind_restart.html" target="_blank">Rewind &amp; Restart</a></div>
                           <div style="clear:both"></div>
                        </div>
                        <hr />
                        <div class="">
                           <div class="pull-left code"><input type="checkbox" ng-model="gFilter.fam" ng-change="update()"/> FAM</div>
                           <div class="pull-left title">Family</div>
                           <div style="clear:both"></div>
                        </div>
                        <div class="">
                           <div class="pull-left code"><input type="checkbox" ng-model="gFilter.int" ng-change="update()"/> INT</div>
                           <div class="pull-left title">International</div>
                           <div style="clear:both"></div>
                        </div>
                        <div class="">
                           <div class="pull-left code"><input type="checkbox" ng-model="gFilter.lif" ng-change="update()"/> LIF</div>
                           <div class="pull-left title">Lifestyle</div>
                           <div style="clear:both"></div>
                        </div>
                        <div class="">
                           <div class="pull-left code"><input type="checkbox" ng-model="gFilter.mov" ng-change="update()"/> MOV</div>
                           <div class="pull-left title">Movie</div>
                           <div style="clear:both"></div>
                        </div>
                        <div class="">
                           <div class="pull-left code"><input type="checkbox" ng-model="gFilter.new" ng-change="update()"/> NEW</div>
                           <div class="pull-left title">News</div>
                           <div style="clear:both"></div>
                        </div>
                        <div class="">
                           <div class="pull-left code"><input type="checkbox" ng-model="gFilter.pub" ng-change="update()"/> PUB</div>
                           <div class="pull-left title">Public</div>
                           <div style="clear:both"></div>
                        </div>
                        <div class="">
                           <div class="pull-left code"><input type="checkbox" ng-model="gFilter.snc" ng-change="update()"/> SNC</div>
                           <div class="pull-left title">Music</div>
                           <div style="clear:both"></div>
                        </div>
                        <div class="">
                           <div class="pull-left code"><input type="checkbox" ng-model="gFilter.spa" ng-change="update()"/> SPA</div>
                           <div class="pull-left title">Spanish</div>
                           <div style="clear:both"></div>
                        </div>
                        <div class="">
                           <div class="pull-left code"><input type="checkbox" ng-model="gFilter.spt" ng-change="update()"/> SPT</div>
                           <div class="pull-left title">Sports</div>
                           <div style="clear:both"></div>
                        </div>
                        <div class="">
                           <div class="pull-left code"><input type="checkbox" ng-model="gFilter.ad" ng-change="update()"/> AD</div>
                           <div class="pull-left title">Advertisment</div>
                           <div style="clear:both"></div>
                        </div>
                    </div><!--end of div#genreCodes-->
                    <select ng-show="volumes" class="volumes" ng-model="volume" ng-options="volume for volume in volumes" name="volume">
                        <option value="">Select EVO:</option>
                    </select>
                </div>
            </div>

            <div class="requested grid__item one-quarter">
                <select ng-hide="pcLoaded"><option value="" disabled selected>Loading&hellip;</option></select>
                <select ng-show="pcLoaded" data-placeholder="Type or Select Package:" tabindex="2" ng-model="requested_pkg" ng-options="requested_pkg as (requested_pkg.dname + ' ' + dataStore.getDisplayPrice(requested_pkg.price,volume) + ' (' + requested_pkg.count + ')') group by requested_pkg.company for requested_pkg in requested_pkgs | orderBy:'dname'" name="requested_package" class="convert-from chosen-select" chosen="requested_pkgs" required>
                </select>
            </div>
        </div>
        <!--ends row for package dropdowns-->
       
        <!--start row for channels count-->
        <div class="channels-count-holder grid" ng-cloak ng-show="current_channels || gained_channels || lost_channels || requested_channels">
            <div class="grid__item one-quarter">
                <div class="current count" ng-click="show_current_channels = !show_current_channels" ng-cloak>{{ (current_channels).length }}</div>
            </div>
            <div class="grid__item one-quarter">
                <div class="gained count" ng-click="show_gained_channels = !show_gained_channels" ng-cloak>{{ (gained_channels).length }}</div>
            </div>
            <div class="grid__item one-quarter">
                <div class="lost count" ng-click="show_lost_channels = !show_lost_channels" ng-cloak>{{ (lost_channels).length }}</div>
            </div>
            <div class="grid__item one-quarter">
                <div class="requested count" ng-click="show_requested_channels = !show_requested_channels" ng-cloak>{{ (requested_channels).length }}</div>
            </div>
        </div>
        <!--end row for channels count-->
        
        <!--start of row for show-btn-->
        <div class="show-btn-holder grid">
            <div class="current grid__item one-quarter">
                <div class="show-btn" ng-click="show_current_channels = !show_current_channels" ng-class="{open: show_current_channels}" ng-show="current_channels" ng-cloak></div>
            </div>
            <div class="gained grid__item one-quarter">
                <div class="show-btn" ng-click="show_gained_channels = !show_gained_channels" ng-class="{open: show_gained_channels}" ng-show="gained_channels" ng-cloak></div>
            </div>
            <div class="lost grid__item one-quarter">
                <div class="show-btn" ng-click="show_lost_channels = !show_lost_channels" ng-class="{open: show_lost_channels}" ng-show="lost_channels" ng-cloak></div>
            </div>
            <div class="requested grid__item one-quarter">
                <div class="show-btn" ng-click="show_requested_channels = !show_requested_channels" ng-class="{open: show_requested_channels}" ng-show="requested_channels" ng-cloak></div>
            </div>
        </div>
        <!--end of row for show-btn-->
        
        <!--start row for package labels-->        
        <div class="grid">
            <div class="table-header grid__item one-quarter" ng-cloak>
                <div class="current label-holder" ng-show="show_current_channels">
                    <span ng-if="current_pkg.cspUrl">
                        <a title="Click to open this package main page." ng-href="http://mycsp.web.att.com/mycspportal/proxyServlet?{{current_pkg.cspUrl}}" target="_blank">
                        {{current_pkg.name}}
                        </a>
                    </span>
                    <span ng-show="current_pkg.status == '0'"> - </span>
                    <a href="http://agentanswercenterstg.directv.com/en-us/res/programming/expired_packages.html" target="_blank" class="expired" ng-show="current_pkg.status == '0'">Expired</a>
                    <span ng-if="!current_pkg.cspUrl">
                        {{current_pkg.name}}
                    </span>
                </div>               
            </div>
            <div class="table-header grid__item one-half">
                 <div class="label-holder saved-amt" ng-show="saved_amt > 0" ng-cloak>
                    Customer will save <span class="price">&#36;<span ng-bind-html="saved_amt"></span></span>
                </div>
                <div class="label-holder pay-more-amt" ng-show="pay_more_amt > 0" ng-cloak>
                    Customer will pay <span class="price">&#36;<span ng-bind-html="pay_more_amt"></span></span> more
                </div>
                
            </div>          
            <div class="table-header grid__item one-quarter">
                <div class="label-holder" ng-cloak ng-show="show_requested_channels" >
                    <span ng-if="requested_pkg.cspUrl">
                        <a title="Click to open this package main page." ng-href="http://mycsp.web.att.com/mycspportal/proxyServlet?{{requested_pkg.cspUrl}}" target="_blank">
                        {{requested_pkg.name}}
                        </a>
                        <span ng-show="requested_pkg.status == '0'"> - </span>
                        <a href="http://agentanswercenterstg.directv.com/en-us/res/programming/expired_packages.html" target="_blank" class="expired" ng-show="requested.status == '0'">Expired</a>
                    </span>
                    <span ng-if="!requested_pkg.cspUrl">
                        {{requested_pkg.name}}
                    </span>
                </div>                
            </div>
        </div>
        <!--end row for package labels-->
        <div class=grid>
            <div class="grid__item one-quarter">
                <div class="current alert_ggp" ng-if="current_pkg.company == 'U-verse'" ng-cloak>
                    <div class="label-holder alert_gp">
                        <div class="alert_p">
                            <span class="alert bang" ng-window-pie>!</span>
                        </div>
                        U-Verse packages assume HD
                    </div>
                </div>
            </div>
            <div class="grid__item one-half">
                <div class="label-holder reminder" ng-show="current_pkg || requested_pkg" ng-cloak>**REMINDER: DO NOT discuss exact channel counts with customers.</div>
            </div>
            <div class="grid__item one-quarter">
                <div class="current alert_ggp" ng-if="requested_pkg.company == 'U-verse'" ng-cloak>
                    <div class="label-holder alert_gp">
                        <div class="alert_p">
                            <span class="alert bang" ng-window-pie>!</span>
                        </div>
                        U-Verse packages assume HD
                    </div>
                </div>
            </div>
        </div>

        <!--start row for table headers-->
        <div class="grid" ng-cloak ng-show="current_channels || gained_channels  || lost_channels || requested_channels">
            <div class="table-header current grid__item one-quarter">
                <div class="table-header-inner" ng-cloak ng-show="current_channels && show_current_channels">
                    <table>
                        <tr>
                            <td width="20%">
                               <a ng-class="{'sort-true sorted': sorted_column == 'channelnumber sort-true', 'sort-false sorted': sorted_column == 'channelnumber sort-false'}" href="" title="Click to sort." ng-click="reverse=!reverse;sortType='channelnumber'"><span ng-if="current_pkg.company != 'DIRECTV Now'">#</span></a>
                            </td>
                            <td width="60%">
                                <a ng-class="{'sort-true sorted': sorted_column == 'channelname sort-true', 'sort-false sorted': sorted_column == 'channelname sort-false'}" href="" title="Click to sort." ng-click="reverse=!reverse;sortType='channelname'">Channel Name</a>
                            </td>
                            <td width="20%">
                                <a ng-class="{'sort-true sorted': sorted_column == 'genre sort-true', 'sort-false sorted': sorted_column == 'genre sort-false'}" href="" title="Click to sort." ng-click="reverse=!reverse;sortType='genre'">Genre</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="table-header gained grid__item one-quarter">
                <div class="table-header-inner" ng-cloak ng-show="gained_channels && show_gained_channels">
                    <table>
                        <tr>
                            <td width="20%">
                               <a ng-class="{'sort-true sorted': sorted_column == 'channelnumber sort-true', 'sort-false sorted': sorted_column == 'channelnumber sort-false'}" href="" title="Click to sort." ng-click="reverse=!reverse;sortType='channelnumber'"><span ng-if="requested_pkg.company != 'DIRECTV Now'">#</span></a>
                            </td>
                            <td width="60%">
                                <a ng-class="{'sort-true sorted': sorted_column == 'channelname sort-true', 'sort-false sorted': sorted_column == 'channelname sort-false'}" href="" title="Click to sort." ng-click="reverse=!reverse;sortType='channelname'">Channel Name</a>
                            </td>
                            <td width="20%">
                                <a ng-class="{'sort-true sorted': sorted_column == 'genre sort-true', 'sort-false sorted': sorted_column == 'genre sort-false'}" href="" title="Click to sort." ng-click="reverse=!reverse;sortType='genre'">Genre</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="table-header lost grid__item one-quarter">
                <div class="table-header-inner" ng-cloak ng-show="lost_channels && show_lost_channels">
                    <table>
                        <tr>
                            <td width="20%">
                               <a ng-class="{'sort-true sorted': sorted_column == 'channelnumber sort-true', 'sort-false sorted': sorted_column == 'channelnumber sort-false'}" href="" title="Click to sort." ng-click="reverse=!reverse;sortType='channelnumber'"><span ng-if="current_pkg.company != 'DIRECTV Now'">#</span></a>
                            </td>
                            <td width="60%">
                                <a ng-class="{'sort-true sorted': sorted_column == 'channelname sort-true', 'sort-false sorted': sorted_column == 'channelname sort-false'}" href="" title="Click to sort." ng-click="reverse=!reverse;sortType='channelname'">Channel Name</a>
                            </td>
                            <td width="20%">
                                <a ng-class="{'sort-true sorted': sorted_column == 'genre sort-true', 'sort-false sorted': sorted_column == 'genre sort-false'}" href="" title="Click to sort." ng-click="reverse=!reverse;sortType='genre'">Genre</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
             <div class="table-header requested grid__item one-quarter">
                <div class="table-header-inner" ng-cloak ng-show="requested_channels && show_requested_channels">
                    <table>
                        <tr>
                            <td width="20%">
                               <a ng-class="{'sort-true sorted': sorted_column == 'channelnumber sort-true', 'sort-false sorted': sorted_column == 'channelnumber sort-false'}" href="" title="Click to sort." ng-click="reverse=!reverse;sortType='channelnumber'"><span ng-if="requested_pkg.company != 'DIRECTV Now'">#</span></a>
                            </td>
                            <td width="60%">
                                <a ng-class="{'sort-true sorted': sorted_column == 'channelname sort-true', 'sort-false sorted': sorted_column == 'channelname sort-false'}" href="" title="Click to sort." ng-click="reverse=!reverse;sortType='channelname'">Channel Name</a>
                            </td>
                            <td width="20%">
                                <a ng-class="{'sort-true sorted': sorted_column == 'genre sort-true', 'sort-false sorted': sorted_column == 'genre sort-false'}" href="" title="Click to sort." ng-click="reverse=!reverse;sortType='genre'">Genre</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--end row for table headers-->

        <!--start row for channel tables-->
        <div class="grid">
            <div class="channels-table-holder current-channels grid__item one-quarter">
                <div class="table-wrapper" ng-cloak ng-show="current_channels && show_current_channels" scroll-to-top-when="items_changed" when-scrolled="current_pkg_limit = loadMore(current_pkg_limit);">
                    <table>
                        <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="channel in current_channels | orderBy:sortType:reverse | limitTo:current_pkg_limit">
                            <td ng-if="current_pkg.company == 'DIRECTV'" class="channel-number" ng-bind-html="channel.channelnumber" width="20%"></td>
                            <td ng-if="current_pkg.company == 'DIRECTV Now'" class="channel-number" width="20%"></td>
                            <td ng-if="current_pkg.company == 'U-verse'" class="channel-number" ng-bind-html="channel.attNumber" width="20%"></td>
                            <td width="60%"><a ng-href="http://mycsp.web.att.com/mycspportal/proxyServlet?{{channel.cspUrl}}" target="_blank"><font ng-bind-html="channel.channelname"></font></a></td>
                            <td class="genre" ng-bind-html="channel.genre" width="20%"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="channels-table-holder gained-channels grid__item one-quarter"">
                <div class="table-wrapper" ng-cloak  ng-show="gained_channels && show_gained_channels" scroll-to-top-when="items_changed" when-scrolled="gained_channels_limit = loadMore(gained_channels_limit);">
                    <table>
                        <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="channel in gained_channels | orderBy:sortType:reverse  | limitTo:gained_channels_limit">
                            <td ng-if="requested_pkg.company == 'DIRECTV'" class="channel-number" ng-bind-html="channel.channelnumber" width="20"></td>
                            <td ng-if="requested_pkg.company == 'DIRECTV Now'" class="channel-number" width="20%"></td>
                            <td ng-if="requested_pkg.company == 'U-verse'" class="channel-number" ng-bind-html="channel.attNumber" width="20"></td>
                            <td width="60"><a ng-href="http://mycsp.web.att.com/mycspportal/proxyServlet?{{channel.cspUrl}}" target="_blank"><font ng-bind-html="channel.channelname"></font></a></td>
                            <td class="genre" ng-bind-html="channel.genre" width="20"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="channels-table-holder lost-channels grid__item one-quarter"">
                <div class="table-wrapper" ng-cloak  ng-show="lost_channels && show_lost_channels" scroll-to-top-when="items_changed" when-scrolled="lost_channels_limit = loadMore(lost_channels_limit);">
                    <table>                    
                        <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="channel in lost_channels | orderBy:sortType:reverse  | limitTo:lost_channels_limit">
                            <td ng-if="current_pkg.company == 'DIRECTV'" class="channel-number" ng-bind-html="channel.channelnumber" width="20"></td>
                            <td ng-if="current_pkg.company == 'DIRECTV Now'" class="channel-number" width="20%"></td>
                            <td ng-if="current_pkg.company == 'U-verse'" class="channel-number" ng-bind-html="channel.attNumber" width="20"></td>
                            <td width="60"><a ng-href="http://mycsp.web.att.com/mycspportal/proxyServlet?{{channel.cspUrl}}" target="_blank"><font ng-bind-html="channel.channelname"></font></a></td>
                            <td class="genre" ng-bind-html="channel.genre" width="20"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="channels-table-holder requested-channels grid__item one-quarter">
                <div class="table-wrapper" ng-cloak  ng-show="requested_channels && show_requested_channels" scroll-to-top-when="items_changed" when-scrolled="requested_pkg_limit = loadMore(requested_pkg_limit);">
                    <table>                  
                        <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="channel in requested_channels | orderBy:sortType:reverse | limitTo:requested_pkg_limit">
                            <td ng-if="requested_pkg.company == 'DIRECTV'" class="channel-number" ng-bind-html="channel.channelnumber" width="20"></td>
                            <td ng-if="requested_pkg.company == 'DIRECTV Now'" class="channel-number" width="20%"></td>
                            <td ng-if="requested_pkg.company == 'U-verse'" class="channel-number" ng-bind-html="channel.attNumber" width="20"></td>
                            <td width="60"><a ng-href="http://mycsp.web.att.com/mycspportal/proxyServlet?{{channel.cspUrl}}" target="_blank"><font ng-bind-html="channel.channelname"></font></a></td>
                            <td class="genre" ng-bind-html="channel.genre" width="20"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--end row for channel tables-->
    </div>
<!--         <div class="label-holder disclaim center-note pricing" ng-show="current_pkg && requested_pkg" ng-cloak>Pricing is not inclusive of any add-ons; refer to the ordering system for accurate pricing with all package components
        </div>
 -->    
    </div>
</div>