<div id="package_details" class="full" ng-controller="PD_Controller">
    <div class="wrapper">
        <h2 ng-hide="pdLoaded">Loading&hellip;</h2>
        <div ng-show="pdLoaded" class="border" ng-window-pie>
            <h2 class="select-package">Select Package:</h2>
            <div class="select-style">
                <select ng-options="selPackage.id as selPackage.name group by selPackage.platform for selPackage in selPackages" ng-model="pid"></select>
            </div>
            <div>
                <hr />
                <table class="price">
                    <thead>
                        <tr>
                            <th width="15%">Total Channels</th>
                            <th ng-if="package.price" width="18%">Price</th>
                            <th ng-if="package.noLocal" width="18%">No Locals Price</th>
                            <th ng-if="package.allInc" width="18%">All-Included Price</th>
                            <th ng-if="package.allIncNoLocal" width="20%">All-Included No Locals Price</th>
                        </tr>
                    </thead>
                    <tr>
                        <td ng-bind="package.channel_count"></td>
                        <td ng-if="package.price" ng-bind="package.price"></td>
                        <td ng-if="package.noLocal" ng-bind="package.noLocal"></td>
                        <td ng-if="package.allInc" ng-bind="package.allInc"></td>
                        <td ng-if="package.allIncNoLocal" ng-bind="package.allIncNoLocal"></td>
                    </tr>
                </table>
                <hr />
                <div class="grid">
                    <div class="grid__item lap--one-half portable--one-half desk--one-half">
                        <table style="width:calc(100% - 16px);">
                            <thead>
                                <tr>
                                    <th width="66%">Channel Name</th>
                                    <th ng-if="package.platform == 'DIRECTV'">Channel #</th>
                                    <th>Genre</th>
                                </tr>
                            </thead>
                        </table>
                        <div style="width:100%;height:400px;overflow:auto;">
                            <table class="packages" width="100%">
                                <tr ng-repeat="channel in channels">
                                    <td width="66%" ng-bind="channel.channelname"></td>
                                    <td ng-if="package.platform == 'DIRECTV'" ng-bind-html="channel.channelnumber"></td>
                                    <td ng-bind="channel.genre"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="grid__item lap--one-half portable--one-half desk--one-half">
                        <p ng-if="package.tip">
                            <b ng-bind="package.name"></b> <span ng-bind="package.tip"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
