<div class="wrapper">
    <div id="programming_package" ng-controller="PP_Controller" class="col-sm-12 noflcenter">
        <form name="frmNewPackage">
            <div id="centerContent" class="col-sm-12">
                <ul id="container1" class="col-sm-2">
                    <li id="totalsBox">
                        <div class="col-sm-12 blbg mnh2 pdr0 pdl0">
                            <h5 class="header"> PACKAGE TOTAL </h5>
                            <div class="col-sm-12 pdr0 pdl0">
                               <span id="lyrSuggestion">&nbsp;</span>
                            </div>
                            <div class="col-sm-12 marb10">
                                <h5>Base: <span>$</span><span id="txtBase" name="txtBase" >0.00</span></h5>
                            </div>
                            <div class="col-sm-12 marb10">                                
                                <h5>Premium: <span>$</span><span id="txtPrem" name="txtPrem">0.00</span></h5>
                            </div>
                            <div class="col-sm-12 marb10">
                                <h5>Extras: <span>$</span><span id="txtExtra" name="txtExtra" >0.00</span></h5>
                            </div>
                            <div class="col-sm-12 marb10">
                                <h5>1<sup>st</sup> Month Total: <span>$</span><span id="txtGrandTotal" name="txtGrandTotal" >0.00</span></h5>
                            </div>
                            <div class="col-sm-12 cntr">
                                <input ng-click="resetAll();" type="button" value="RESET" class="btn btn-default rst">
                            </div>
                            <div class="col-sm-12 pdr0 pdl0">
                                <div id="lyr2ndMonth"></div>
                            </div>
                        </div>
                    </li>
                    <li id="summaryBox">
                        <div class="orbg marr0 col-sm-12 mnh3">
                            <h5 class="header"> QUICK SUMMARY </h5>
                            <div class="col-sm-12 detail">
                                <div ng-bind-html="ppSUMMARY"></div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul id="container2" class="col-sm-10">
                    <li id="step1Box" class="col-sm-4 primaryCredit pdr0">
                        <div class="col-sm-12 bgwt marr0 stp12">
                            <div class="col-sm-12 hdr">
                                <div class="steps stp1"></div><p><strong>Select # of Tv's</strong></p>
                            </div>
                            <div class="col-sm-12 pdr0 pdl0 marb10">
                                <a href="" ng-click="img_click_primaryCredit();" ng-mouseleave="ppSUMMARY = varDefaultSummary; img_off_primaryCredit();" ng-mouseover="ppSUMMARY = varDefaultSummary; img_on_primaryCredit();">
                                <img alt="Primary Credit" border="0" id="PrimaryCredit" name="PrimaryCredit" src="assets/img/greenBoxNorm.gif"></a> Click box if Primary TV Credit = No
                                <br> &nbsp;&nbsp;&nbsp;&nbsp;(Rio > Bill Ledger tab)
                            </div>

                            <div class="col-sm-2 pdr0 pdl0">
                                <a href="" ng-click="img_click_ds('1receiver',1);" ><img alt="1 receiver" border="0" id="1receiver" name="1receiver" src="assets/img/button1normal.png"></a>
                            </div>
                            <div class="col-sm-2 pdr0 pdl0">
                                <a href="" ng-click="img_click_ds('2receiver',2);" ><img alt="2 receiver" border="0" id="2receiver" name="2receiver" src="assets/img/button2normal.png"></a>
                            </div>
                            <div class="col-sm-2 pdr0 pdl0">
                                <a href="" ng-click="img_click_ds('3receiver',3);" ><img alt="3 receiver" border="0" id="3receiver" name="3receiver" src="assets/img/button3normal.png"></a>
                            </div>
                            <div class="col-sm-2 pdr0 pdl0">
                                <a href="" ng-click="img_click_ds('4receiver',4);" ><img alt="4 receiver" border="0" id="4receiver" name="4receiver" src="assets/img/button4normal.png"></a>
                            </div>
                            <div class="col-sm-2 pdr0 pdl0">
                                <a href="" ng-click="img_click_ds('5receiver',5);" ><img alt="5 receiver" border="0" id="5receiver" name="5receiver" src="assets/img/button5normal.png"></a>
                            </div>
                            <div class="col-sm-2 pdr0 pdl0">
                                <a href="" ng-click="img_click_ds('6receiver',6);" ><img alt="6 receiver" border="0" id="6receiver" name="6receiver" src="assets/img/button6normal.png"></a>
                            </div>
                        </div>
                    </li>
                    <li id="step2Box" class="col-sm-8">
                        <div class="col-sm-12 bgwt stp12">
                            <div class="col-sm-12 hdr">
                                <div class="steps stp2"></div><p><strong>Select Equipment Service</strong></p>
                            </div>
                            <div class="col-sm-3 pdr0 pdl0">
                                <div class="col-sm-12 pdr0 pdl0">
                                    <a href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_dir_537947" target="_blank"><strong>ARS</strong></a>
                                </div>
                                <div class="col-sm-12 pdr0 pdl0 marb10">
                                    <a href="" ng-click="img_Click_ARS('ARS1',1)" ng-mouseleave="img_off_ARS('ARS1',2);" ng-mouseover="img_on('ARS1',12);"><img border="0" id="ARS1" name="ARS1" src="assets/img/greenBoxNorm.gif"></a> Monthly(<span id="ARS_Monthly_Fee">$25</span>)
                                </div>
                                <div class="col-sm-12 pdr0 pdl0 marb10">
                                    <a href="" ng-click="img_Click_ARS_Extra();" ng-mouseleave="img_mouseout_ars_extra();" ng-mouseover="img_mouseover_ars_extra();"><img border="0" id="MRV3" name="MRV3" src="assets/img/greenBoxNorm.gif"></a> Monthly(<span>$15</span>)
                                </div>
                                <div class="col-sm-12 pdr0 pdl0 marb10">
                                    <a href="" ng-click="img_Click_ARS('ARS2',2)" ng-mouseleave="img_off_ARS('ARS2',2);" ng-mouseover="img_on('ARS2',12);"><img border="0" id="ARS2" name="ARS2" src="assets/img/greenBoxNorm.gif"></a> <span>Remove</span>
                                </div>
                            </div>
                            <div class="col-sm-3 pdr0 pdl0 marb10">
                                <div class="col-sm-12 pdr0 pdl0">
                                    <a href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_equ_adv_rec_538676" target="_blank"><strong>ARS-DVR</strong></a>
                                </div>
                                <div class="col-sm-12 pdr0 pdl0 marb10">
                                    <a href="" ng-click="img_Click_DVR('DVR1',1)" ng-mouseleave="img_off_DVR('DVR1',2);" ng-mouseover="img_on('DVR1',12);"><img border="0" id="DVR1" name="DVR1" src="assets/img/greenBoxNorm.gif"></a> Monthly(<span id="ARS_Monthly_DVR_Fee">$10</span>)
                                </div>
                                <div class="col-sm-12 pdr0 pdl0 marb10">
                                    <a href="" ng-click="img_Click_DVR('DVR2',2)" ng-mouseleave="img_off_DVR('DVR2',2);" ng-mouseover="img_on('DVR2',12);"><img border="0" id="DVR2" name="DVR2" src="assets/img/greenBoxNorm.gif"></a> <span>Remove</span>
                                </div>
                            </div>
                            <div class="col-sm-3 pdr0 pdl0 marb10">
                                <div class="col-sm-12 pdr0 pdl0">
                                    <a href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_dir_537555" target="_blank"><strong>ARS-HD</strong></a>
                                </div>
                                <div class="col-sm-12 pdr0 pdl0 marb10">
                                    <a href="" ng-click="img_Click_HD_Access('HD_Access1',1)" ng-mouseleave="ppSUMMARY = varDefaultSummary; img_off_HD_Access('HD_Access1',1);" ng-mouseover="ppSUMMARY = arrayExtraSummary[2]; img_on('HD_Access1',10);">
                                    <img border="0" id="HD_Access1" name="HD_Access1" src="assets/img/greenBoxNorm.gif"></a> Monthly(<span id="ARS_Monthly_HD_Fee">$10</span>)
                                </div>
                                <div class="col-sm-12 pdr0 pdl0 marb10">
                                    <a href="" ng-click="img_Click_HD_Access('HD_Access2',2)" ng-mouseleave="ppSUMMARY = varDefaultSummary; img_off_HD_Access('HD_Access2',2);" ng-mouseover="ppSUMMARY = arrayExtraSummary[2]; img_on('HD_Access2',12);">
                                    <img border="0" id="HD_Access2" name="HD_Access2" src="assets/img/greenBoxNorm.gif"></a> <span>Remove</span>
                                </div>
                            </div>
                            <div class="col-sm-3 pdr0 pdl0 marb10">
                                <div class="col-sm-12 pdr0 pdl0">
                                    <a href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_equ_adv_rec_538789" target="_blank"><strong>Whole-Home DVR</strong></a>
                                </div>
                                <div class="col-sm-12 pdr0 pdl0 marb10">
                                    <a href="" ng-click="img_Click_MRV('MRV1',1)" ng-mouseleave="ppSUMMARY = varDefaultSummary; img_off_MRV('MRV1',1);" ng-mouseover="ppSUMMARY = arrayExtraSummary[4]; img_on('MRV1',10);">
                                    <img border="0" id="MRV1" name="MRV1" src="assets/img/greenBoxNorm.gif"></a> Monthly(<span id="MRV">$3</span>)
                                </div>
                                <div class="col-sm-12 pdr0 pdl0 marb10">
                                    <a href="" ng-click="img_Click_MRV('MRV2',2)" ng-mouseleave="ppSUMMARY = varDefaultSummary; img_off_MRV('MRV2',2);" ng-mouseover="ppSUMMARY = arrayExtraSummary[4]; img_on('MRV2',12);">
                                    <img border="0" id="MRV2" name="MRV2" src="assets/img/greenBoxNorm.gif"></a> <span>Remove</span>
                                </div>
                            </div>
                            <div class="col-sm-12 pdr0 pdl0">
                                Accounts may require different <a href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_dir_537947" target="_blank">
                                Advanced Services (ARS)</a>.
                            </div>
                        </div>
                    </li>
                    <li id="step3Box" class="col-sm-12">
                        <div class="col-sm-12 bgwt">
                            <div class="col-sm-12 hdr">
                                <div class="col-sm-5 pdr0 pdl0">
                                    <div class="steps stp3"></div><p><strong>Select a base package</strong></p>
                                </div>
                                <div class="col-sm-7 pdr0 pdl0">
                                    <a href="" ng-click="englishPackageLanguage()" ><img border="0" id="EnglishButton" name="EnglishButton" src="assets/img/greenBoxDown.gif"></a> <span id="lyrEnglish1" > English Programming</span></a>&nbsp;&nbsp;&nbsp;
                                    <a href="" ng-click="spanishPackageLanguage()" ><img border="0" id="SpanishButton" name="SpanishButton" src="assets/img/greenBoxNorm.gif"></a> <span id="lyrEnglish1" > Spanish Programming</span></a>&nbsp;&nbsp;&nbsp;
                                    <a href="" ng-click="swapBasePackageMDU()" ><img border="0" id="MDUbutton" name="MDUbutton" src="assets/img/greenBoxNorm.gif"></a><a href="" ng-click="swapBasePackageMDU()" > Multi Dwelling Accts.</a>
                                </div>
                            </div>
                            <div id="lyrEnglish2">
                                <div class="col-sm-12 innerboxHeadBig pdr0 pdl0 marb10">
                                    <div class="col-sm-3 pdr0 pdl0">
                                        <a href="" ng-click="img_click_Base('Family',1);" ng-mouseleave="ppSUMMARY = varDefaultSummary; img_off_Base('Family',1);" ng-mouseover="ppSUMMARY = arrayBaseSummary[1]; img_on_Base('Family',1);">
                                        <img alt="Family" border="0" id="Family" name="Family" src="assets/img/greenBoxNorm.gif"></a>
                                        <a class="step3" href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_pac_537528" target="_blank" ng-mouseleave="ppSUMMARY = varDefaultSummary;" ng-mouseover="ppSUMMARY = arrayBaseSummary[1]; importXML();"> Family</a>
                                    </div>
                                    <div class="col-sm-3 pdr0 pdl0">
                                        <a href="" ng-click="img_click_Base('Xtra Add-On FDB',32);" ng-mouseleave="ppSUMMARY = varDefaultSummary; img_off_Base('Xtra Add-On FDB',22);" ng-mouseover="ppSUMMARY = arrayBaseSummary[32]; img_on_Base('Xtra Add-On FDB',22);">
                                        <img alt="Select" border="0" id="Select" name="Select" src="assets/img/greenBoxNorm.gif"></a>
                                        <a class="step3" href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_pac_538704" target="_blank" ng-mouseleave="ppSUMMARY = varDefaultSummary;" ng-mouseover="ppSUMMARY = arrayBaseSummary[32]; importXML();"> Select</a>
                                    </div>
                                    <div class="col-sm-3 pdr0 pdl0">
                                        <a href="" ng-click="img_click_Base('Entertainment',28);" ng-mouseleave="ppSUMMARY = varDefaultSummary; img_off_Base('Entertainment',28);" ng-mouseover="ppSUMMARY = arrayBaseSummary[5]; img_on_Base('Entertainment',28);">
                                        <img alt="Entertainment" border="0" id="Entertainment" name="Entertainment" src="assets/img/greenBoxNorm.gif"></a>
                                        <a class="step3" href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_pac_538013" target="_blank" ng-mouseleave="ppSUMMARY = varDefaultSummary;" ng-mouseover="ppSUMMARY = arrayBaseSummary[5]; importXML();"> Entertainment</a>
                                    </div>
                                    <div class="col-sm-3 pdr0 pdl0">
                                        <a href="" ng-click="img_click_Base('Choice',2);" ng-mouseleave="ppSUMMARY = varDefaultSummary; img_off_Base('Choice',2);" ng-mouseover="ppSUMMARY = arrayBaseSummary[2]; img_on_Base('Choice',2);">
                                        <img alt="Choice" border="0" id="Choice" name="Choice" src="assets/img/greenBoxNorm.gif"></a>
                                        <a class="step3" href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_pac_537459" target="_blank" ng-mouseleave="ppSUMMARY = varDefaultSummary;" ng-mouseover="ppSUMMARY = arrayBaseSummary[2]; importXML();"> Choice</a>
                                    </div>
                                </div>
                                <div class="col-sm-12 innerboxHeadBig pdr0 pdl0 marb10">
                                    <div class="col-sm-3 pdr0 pdl0">
                                        <a href="" ng-click="img_click_Base('Xtra',3);" ng-mouseleave="ppSUMMARY = varDefaultSummary; img_off_Base('Xtra',3);" ng-mouseover="ppSUMMARY = arrayBaseSummary[3]; img_on_Base('Xtra',3);">
                                        <img alt="Xtra" border="0" id="Xtra" name="Xtra" src="assets/img/greenBoxNorm.gif"></a>
                                        <a class="step3" href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_pac_537919" target="_blank" ng-mouseleave="ppSUMMARY = varDefaultSummary;" ng-mouseover="ppSUMMARY = arrayBaseSummary[3]; importXML();"> Xtra</a>
                                    </div>
                                    <div class="col-sm-3 pdr0 pdl0">
                                        <a href="" ng-click="img_click_Base('Ultimate',4);" ng-mouseleave="ppSUMMARY = varDefaultSummary; img_off_Base('Ultimate',4);" ng-mouseover="ppSUMMARY = arrayBaseSummary[4]; img_on_Base('Ultimate',4);">
                                        <img alt="Ultimate" border="0" id="Ultimate" name="Ultimate" src="assets/img/greenBoxNorm.gif"></a>
                                        <a class="step3" href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_pac_537462" target="_blank" ng-mouseleave="ppSUMMARY = varDefaultSummary;" ng-mouseover="ppSUMMARY = arrayBaseSummary[4]; importXML();"> Ultimate</a>
                                    </div>
                                    <div class="col-sm-3 pdr0 pdl0">
                                        <a href="" ng-click="img_click_Base('Premier',6);" ng-mouseleave="ppSUMMARY = varDefaultSummary; img_off_Base('Premier',6);" ng-mouseover="ppSUMMARY = arrayBaseSummary[6]; img_on_Base('Premier',6);">
                                        <img alt="Premier" border="0" id="Premier" name="Premier" src="assets/img/greenBoxNorm.gif"></a>
                                        <a class="step3" href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_pac_537668" target="_blank" ng-mouseleave="ppSUMMARY = varDefaultSummary;" ng-mouseover="ppSUMMARY = arrayBaseSummary[6]; importXML();"> Premier</a>
                                    </div>
                                    <div class="col-sm-3 pdr0 pdl0">
                                        <a href="" ng-click="img_click_Base('Preferred Extra',33);" ng-mouseleave="ppSUMMARY = varDefaultSummary; img_off_Base('Preferred Extra',33);" ng-mouseover="ppSUMMARY = arrayBaseSummary[33]; img_on_Base('Preferred Extra',33);">
                                        <img alt="Preferred Xtra" border="0" id="Preferred_extra" name="Preferred Extra" src="assets/img/greenBoxNorm.gif"></a>
                                        <a class="step3" href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_pac_538099" target="_blank" ng-mouseleave="ppSUMMARY = varDefaultSummary;" ng-mouseover="ppSUMMARY = arrayBaseSummary[33]; importXML();"> Preferred Xtra</a>
                                    </div>
                                </div>
                                <div class="col-sm-12 pdr0 pdl0">
                                    Base package required for premiums/additional services. See
                                    <a class="step3" href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_pac_537674" target="_blank"> Package Requirements</a>.
                                </div>
                            </div>
                            <div id="lyrSpanish2" style="display:none;">
                                <div class="col-sm-6 innerboxHeadBig pdr0 pdl0">
                                    <div class="col-sm-12 ipdr0 pdl0 marb10">
                                        <a href="" ng-click="img_click_Base('Mas Latino',7);" ng-mouseleave="ppSUMMARY = varDefaultSummary; img_off_Base('Mas Latino',7);" ng-mouseover="ppSUMMARY = arrayParaSummary[10]; img_on_Base('Mas Latino',7);">
                                        <img alt="Mas Latino" border="0" id="Mas Latino" name="Mas Latino" src="assets/img/greenBoxNorm.gif"></a>
                                        <a class="step3" href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_cha_spa_537850" target="_blank" ng-mouseleave="ppSUMMARY = varDefaultSummary;" ng-mouseover="ppSUMMARY = arrayParaSummary[10]; importXML();"> Más Latino</a>
                                    </div>
                                    <div class="col-sm-12 pdr0 pdl0 marb10">
                                        <a href="" ng-click="img_click_Base('Mas Ultra',24);" ng-mouseleave="ppSUMMARY = varDefaultSummary; img_off_Base('Mas Ultra',24);" ng-mouseover="ppSUMMARY = arrayParaSummary[9]; img_on_Base('Mas Ultra',24);">
                                        <img alt="Mas Ultra" border="0" id="Mas Ultra" name="Mas Ultra" src="assets/img/greenBoxNorm.gif"></a>
                                        <a class="step3" href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_pac_537613" target="_blank" ng-mouseleave="ppSUMMARY = varDefaultSummary;" ng-mouseover="ppSUMMARY = arrayParaSummary[9]; importXML();"> Más Ultra</a>
                                    </div>
                                </div>
                                <div class="col-sm-6 innerboxHeadBig pdr0 pdl0">
                                    <div class="col-sm-12 pdr0 pdl0 marb10">
                                        <a href="" ng-click="img_click_Base('Optimo_Mas',8);" ng-mouseleave="ppSUMMARY = varDefaultSummary; img_off_Base('Optimo_Mas',8);" ng-mouseover="ppSUMMARY = arrayParaSummary[1]; img_on_Base('Optimo_Mas',8);">
                                        <img alt="Optimo Mas" border="0" id="Optimo_Mas" name="Optimo_Mas" src="assets/img/greenBoxNorm.gif"></a>
                                        <a class="step3" href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_pac_537649" target="_blank" ng-mouseleave="ppSUMMARY = varDefaultSummary;" ng-mouseover="ppSUMMARY = arrayParaSummary[1]; importXML();"> Optimo Más</a>
                                    </div>
                                    <div class="col-sm-12 pdr0 pdl0 marb10">
                                        <a href="" ng-click="img_click_Base('Lo Maximo',10);" ng-mouseleave="ppSUMMARY = varDefaultSummary; img_off_Base('Lo Maximo',10);" ng-mouseover="ppSUMMARY = arrayParaSummary[5]; img_on_Base('Lo Maximo',10);">
                                        <img alt="Lo Maximo" border="0" id="Lo Maximo" name="Lo Maximo" src="assets/img/greenBoxNorm.gif"></a>
                                        <a class="step3" href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_pac_537586" target="_blank" ng-mouseleave="ppSUMMARY = varDefaultSummary;" ng-mouseover="ppSUMMARY = arrayParaSummary[5]; importXML();"> Lo Maximo</a>
                                    </div>
                                </div>
                                <div class="col-sm-12 pdr0 pdl0">
                                    Base package required for premiums/additional services. See
                                    <a class="step3" href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_pac_537674" target="_blank"> Package Requirements</a>.
                                    </div>
                            </div>
                            <div id="lyrMDU1" style="display:none;">
                                <div class="col-sm-12 pdr0 pdl0">
                                    <select name="MDUselection" ng-model="MDUselection" ng-change="fillMDUdiv(MDUselection)" ng-options="mduoption as mduoption for mduoption in mduoptions" style="margin:0 5px 5px 0;">
                                        <option value disabled selected>Select One...</option>
                                    </select>
                                    <div id="MDUselectionInfo">&nbsp;</div>
                                    <div id="MDUdefault">
                                        Multi-Dwelling customers' programming based on account type. Many receive same packages and pricing as REG, but some receive significantly reduced-price programming since their entire building has activated DIRECTV. For reduced-priced packages, the name is different in Rio but is very similar to package mirrored.
                                    </div>
                                    <div id="MDUdiv" style="display:none;">
                                        <!-- TMU SECTION   -->
                                        <img alt="Total Choice Plus TMU" border="0" id="Total Choice Plus TMU" name="Total Choice Plus TMU" src="assets/img/greenBoxNorm.gif" style="display:none;">
                                        <!-- Family Digital Bulk column  -->
                                        <img alt="Family Digital Bulk" border="0" id="Family Digital Bulk" name="Family Digital Bulk" src="assets/img/greenBoxNorm.gif" style="display:none;">
                                        <img alt="Xtra Add-On" border="0" id="Xtra Add-On" name="Xtra Add-On" src="assets/img/greenBoxNorm.gif" style="display:none;">
                                        <img alt="Xtra Add-On FDB" border="0" id="Xtra Add-On FDB" name="Xtra Add-On FDB" src="assets/img/greenBoxNorm.gif" style="display:none;">
                                        <img alt="Xtra Add-On EDB" border="0" id="Xtra Add-On EDB" name="Xtra Add-On EDB" src="assets/img/greenBoxNorm.gif" style="display:none;">
                                        <img alt="Choice Add-On FDB" border="0" id="Choice Add-On FDB" name="Choice Add-On FDB" src="assets/img/greenBoxNorm.gif" style="display:none;">
                                        <img alt="Choice Add-On EDB" border="0" id="Choice Add-On EDB" name="Choice Add-On EDB" src="assets/img/greenBoxNorm.gif" style="display:none;">
                                        <img alt="Premier Add-On FDB" border="0" id="Premier Add-On FDB" name="Premier Add-On FDB" src="assets/img/greenBoxNorm.gif" style="display:none;">
                                        <!--==============================-->
                                        <img alt="Entertainment Add-On" border="0" id="Entertainment Add-On" name="Entertainment Add-On" src="assets/img/greenBoxNorm.gif" style="display:none;">
                                        <img alt="Preferred Choice" border="0" id="Preferred Choice" name="Preferred Choice" src="assets/img/greenBoxNorm.gif" style="display:none;">
                                        <img alt="Total Choice" border="0" id="Total Choice for TCD/JCD" name="Total Choice for TCD/JCD" src="assets/img/greenBoxNorm.gif" style="display:none;">
                                        <img alt="Choice Tier" border="0" id="Choice Tier for TCD/JCD" name="Choice Tier for TCD/JCD" src="assets/img/greenBoxNorm.gif" style="display:none;">
                                        <img alt="Ultimate Add-On CDB" border="0" id="Ultimate Add-On CDB" name="Ultimate Add-On CDB" src="assets/img/greenBoxNorm.gif" style="display:none;">
                                        <img alt="Ultimate Add-On FDB" border="0" id="Ultimate Add-On FDB" name="Ultimate Add-On FDB" src="assets/img/greenBoxNorm.gif" style="display:none;">
                                        <img alt="Ultimate Add-On EDB" border="0" id="Ultimate Add-On EDB" name="Ultimate Add-On EDB" src="assets/img/greenBoxNorm.gif" style="display:none;">
                                        <img alt="Premier Add-On CDB" border="0" id="Premier Add-On CDB" name="Premier Add-On CDB" src="assets/img/greenBoxNorm.gif" style="display:none;">
                                        <img alt="Premier Add-On EDB" border="0" id="Premier Add-On EDB" name="Premier Add-On EDB" src="assets/img/greenBoxNorm.gif" style="display:none;">
                                        <img alt="Xtra Digital Bulk" id="Xtra Digital Bulk" name="Xtra Digital Bulk" src="assets/img/greenBoxNorm.gif" style="display:none;">
                                        <img alt="Student Choice Add-On" id="Student Choice Add-On" name="Student Choice Add-On" src="assets/img/greenBoxNorm.gif" style="display:none;">
                                        <img alt="Student Choice Xtra Classic Add-On" name="Student Choice Xtra Classic Add-On" style="display:none;">
                                        <a href="" id="total_choice_plus_anchor" ng-mouseleave="" ng-mouseover="" ng-click="">
                                            <img alt="Total Choice Plus" border="0" id="Total Choice Plus" name="Total Choice Plus" src="assets/img/greenBoxNorm.gif" style="display:none;"></a>
                                        <a href="" id="xtra_tier_anchor" ng-mouseleave="" ng-mouseover="" ng-click="">
                                        <img alt="Xtra Tier" border="0" id="Xtra Tier" name="Xtra Tier" src="assets/img/greenBoxNorm.gif" style="display:none;"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="step4Box" class="col-sm-6 pdr0">
                        <div class="col-sm-12 bgwt marr0 stp45">
                            <div class="col-sm-12 hdr">
                                <div class="steps stp4"></div><p><strong>Add premium services</strong></p>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-12">
                                    <a href="" ng-click="img_click_Prem('hbo',7); layerSwap();" ng-mouseleave="ppSUMMARY = varDefaultSummary; img_off_Prem('hbo',7);" ng-mouseover="ppSUMMARY = arrayPremSummary[0]; img_on('hbo',7);">
                                    <img alt="HBO The Works" border="0" id="hbo" name="hbo" src="assets/img/greenBoxNorm.gif"></a>
                                    <a href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_pac_537553" target="_blank" ng-mouseleave="ppSUMMARY = varDefaultSummary;" ng-mouseover="ppSUMMARY = arrayPremSummary[0];">
                                    <img alt="Click here for more info." border="0" src="assets/img/packages_hbo.gif"></a>
                                </div>
                                <div class="col-sm-12">
                                    <a href="" ng-click="img_click_Prem('starz',8);" ng-mouseleave="ppSUMMARY = varDefaultSummary; img_off_Prem('starz',8);" ng-mouseover="ppSUMMARY = arrayPremSummary[2]; img_on('starz',8);">
                                    <img alt="Starz Super Pack" border="0" id="starz" name="starz" src="assets/img/greenBoxNorm.gif"></a>
                                    <a href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_pac_538729" target="_blank" ng-mouseleave="ppSUMMARY = varDefaultSummary;" ng-mouseover="ppSUMMARY = arrayPremSummary[2];">
                                    <img alt="Click here for more info." border="0" src="assets/img/packages_starz.gif"></a>
                                </div>                                
                                <div class="col-sm-12">
                                    <a href="" ng-click="img_click_Prem('showtime',8);" ng-mouseleave="ppSUMMARY = varDefaultSummary; img_off_Prem('showtime',8);" ng-mouseover="ppSUMMARY = arrayPremSummary[1]; img_on('showtime',8);">
                                    <img alt="Showtime Unlimited" border="0" id="showtime" name="showtime" src="assets/img/greenBoxNorm.gif"></a>
                                    <a href="http://agentanswercenter.directv.com/en-us/res/programming/showtime_unlimited.html" target="_blank" ng-mouseleave="ppSUMMARY = varDefaultSummary;" ng-mouseover="ppSUMMARY = arrayPremSummary[1];">
                                    <img alt="Click here for more info." border="0" src="assets/img/packages_showtime.gif"></a>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-12">
                                    <a href="" ng-click="img_click_Prem('cinemax',8);" ng-mouseleave="ppSUMMARY = varDefaultSummary; img_off_Prem('cinemax',8);" ng-mouseover="ppSUMMARY = arrayPremSummary[3]; img_on('cinemax',8);">
                                    <img alt="Cinemax More Max" border="0" id="cinemax" name="cinemax" src="assets/img/greenBoxNorm.gif"></a>
                                    <a href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_pac_537473" target="_blank" ng-mouseleave="ppSUMMARY = varDefaultSummary;" ng-mouseover="ppSUMMARY = arrayPremSummary[3];">
                                    <img alt="Click here for more info." border="0" src="assets/img/packages_cinemax.gif"></a>
                                </div>                            
                                <div class="col-sm-12">
                                    <a href="" ng-click="img_click_Prem('sportspack',9);" ng-mouseleave="ppSUMMARY = varDefaultSummary; img_off_Prem('sportspack',9);" ng-mouseover="ppSUMMARY = arrayPremSummary[4]; img_on('sportspack',9);">
                                    <img alt="Sports Pack" border="0" id="sportspack" name="sportspack" src="assets/img/greenBoxNorm.gif"></a>
                                    <a href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_cha_spo_538723" target="_blank" ng-mouseleave="ppSUMMARY = varDefaultSummary;" ng-mouseover="ppSUMMARY = arrayPremSummary[4];">
                                    <img alt="Click here for more info." border="0" src="assets/img/packages_sports.gif"></a>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-12">
                                <table class="hboPrices">
                                    <tbody>
                                        <tr>
                                            <td class="innerboxHeadAndLine">
                                                <a href="" ng-click="img_click_Prem('hbo',7);" id="without">without HBO</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>1st = <span class="prices" id="firstPrem">$13.99</span></td>
                                        </tr>
                                        <tr>
                                            <td>2nd = <span class="prices" id="secondPrem">$12</span></td>
                                        </tr>
                                        <tr>
                                            <td>3rd = <span class="prices">$13</span></td>
                                        </tr>
                                        <tr>
                                            <td>4th = <span class="prices">$10</span></td>
                                        </tr>
                                        <tr>
                                            <td>5th = <span class="prices" id="fifthPrem">n/a</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        </div>
                    </li>
                    <li id="step5Box" class="col-sm-6">
                        <div class="col-sm-12 bgwt stp45">
                            <div class="col-sm-12 hdr">
                                <div class="steps stp5"></div><p><strong>add extra services</strong></p>
                            </div>
                            <div class="col-sm-6 pdr0 pdl0 undrl">
                                <div class="col-sm-12 pdr0 pdl0 marb10">
                                    <a href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_pro_537675" target="_blank"> DIRECTV Protection Plan</a>
                                </div>
                                <div class="col-sm-12 pdr0 pdl0 marb10">
                                    <a href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_pac_537558" target="_blank"> DIRECTV HD Extra Pack</a>
                                </div>
                                <div class="col-sm-12 pdr0 pdl0 marb10">
                                    <a href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_pro_537962" target="_blank"> Protection Plan Premier</a>
                                </div>
                            </div>
                            <div class="col-sm-6 pdr0 pdl0">
                                    <div class="col-sm-12 pdr0 pdl0">
                                        <div class="col-sm-6 pdr0 pdl0 marb10">
                                            <a href="" ng-click="img_click_Protect('protect_1',10);" ng-mouseleave="ppSUMMARY = varDefaultSummary; img_off_Protect('protect_1',10);" ng-mouseover="ppSUMMARY = arrayExtraSummary[1]; img_on('protect_1',10);">
                                            <img alt="Standard Receiver ($5.99/mo.)" border="0" id="protect_1" name="protect_1" src="assets/img/greenBoxNorm.gif"> Monthly</a>
                                        </div>
                                        <div class="col-sm-6 pdr0 pdl0 marb10">
                                            <a href="" ng-click="img_click_Protect('protect_3',11);" ng-mouseleave="ppSUMMARY = varDefaultSummary; img_off_Protect('protect_3',11);" ng-mouseover="ppSUMMARY = arrayExtraSummary[1]; img_on('protect_3',11);">
                                            <img alt="none" border="0" id="protect_3" name="protect_3" src="assets/img/greenBoxNorm.gif"> Remove</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 pdr0 pdl0">
                                        <div class="col-sm-6 pdr0 pdl0 marb10">
                                            <a href="" ng-click="img_click_hdextra('hdextra_1',10);" ng-mouseleave="ppSUMMARY = varDefaultSummary; img_off_hdextra('hdextra_1',10);" ng-mouseover="ppSUMMARY = arrayExtraSummary[3]; img_on('hdextra_1',10);">
                                            <img alt="none" border="0" id="hdextra_1" name="hdextra_1" src="assets/img/greenBoxNorm.gif"> Monthly</a>
                                        </div>
                                        <div class="col-sm-6 pdr0 pdl0 marb10">
                                           <a href="" ng-click="img_click_hdextra('hdextra_2',11);" ng-mouseleave="ppSUMMARY = varDefaultSummary; img_off_hdextra('hdextra_2',11);" ng-mouseover="ppSUMMARY = arrayExtraSummary[3]; img_on('hdextra_2',11);">
                                           <img alt="none" border="0" id="hdextra_2" name="hdextra_2" src="assets/img/greenBoxNorm.gif"> Remove</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 pdr0 pdl0">
                                        <div class="col-sm-6 pdr0 pdl0 marb10">                                    
                                            <a href="" ng-click="img_click_premier('premier_1',12);" ng-mouseleave="ppSUMMARY = varDefaultSummary; img_off_premier('premier_1',12);" ng-mouseover="ppSUMMARY = arrayExtraSummary[6]; img_on('premier_1',12);">
                                            <img alt="none" border="0" id="premier_1" name="premier_1" src="assets/img/greenBoxNorm.gif"> Monthly</a>
                                        </div>
                                        <div class="col-sm-6 pdr0 pdl0 marb10">
                                            <a href="" ng-click="img_click_premier('premier_2',13);" ng-mouseleave="ppSUMMARY = varDefaultSummary; img_off_premier('premier_2',13);" ng-mouseover="ppSUMMARY = arrayExtraSummary[6]; img_on('premier_2',13);">
                                            <img alt="none" border="0" id="premier_2" name="premier_2" src="assets/img/greenBoxNorm.gif"> Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </li>
                    <li id="step6Box" class="col-sm-12">
                        <div class="col-sm-12 bgwt">                
                            <div class="col-sm-12">
                                <p style="margin-top:10px"><strong>OTHER LINKS</strong></p>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-sm-12">
                                    - <a href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_dir_537939" target="_blank"><strong>Regional Sports Fee</strong></a>  
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="col-sm-12">
                                    <strong>Packages:</strong><br><br>
                                    - <a href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_pac_537512" target="_blank"> Expired</a><br><br>
                                    - <a href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_cha_int_537436" target="_blank"> Basic Choice</a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-sm-12">
                                    <strong>Add Ons:</strong><br><br>
                                    - <a href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_cha_mov_538100" target="_blank"> Encore (A La Carte)</a><br><br>
                                    - <a href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_pac_537508" target="_blank"> En Español</a><br><br>
                                   - <a href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_pac_537427" target="_blank"> Américas Plus</a>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-12">                                          
                                    - <a href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ope_cen_cal_sup_537577" target="_blank"> International (WorldDirect)</a><br><br>
                                    - <a href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_pac_537616" target="_blank"> México Plus</a><br><br>
                                    - <a href="http://mycsp.web.att.com/mycspportal/proxyServlet?content_matrix_id=myc_ser_tv_cha_spa_539237" target="_blank"> DIRECTV Deportes</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>