<div id="programming_package" ng-controller="PP_Controller">
    <div class="wrapper">
        <div class="border">
            <div class="grid">
                <div class="grid__item portable--two-thirds desk--two-thirds">
                    <div>
                        <h1>How Many TV's?</h1>
                        <div>
                            <select>
                                <option value="0" disabled selected>Please select</option>
                                <option value="1">1</option>
                            </select>
                        </div>
                        Rio > Bill Ledger tab, Primary TV Credit? <label><input type="radio" name="prime_credit" value="false" /> No</label> <label><input type="radio" name="prime_credit" value="true" /> Yes</label>
                    </div>
                    <div>
                        <h1>Equipment Service</h1>
                        <span>Note: Accounts may require different Advanced Services (ARS).</span>
                        <div>
                            <label><input type="checkbox" value="ars_25"> ARS Monthly ($25)</label>
                        </div>
                    </div>
                    <div>
                        <h1>Select Base Package</h1>
                        <a href="">English Programming</a> <a href="">Spanish Programming</a> <a href="">Multi Dwelling Accts.</a>
                        <div>
                            <label><input type="radio" name="base_pkg" value="Family"> Family</label> <a href="">Quick View</a> | <a href="">Details</a>
                        </div>
                    </div>
                    <div>
                        <h1>Add Premium Services</h1>
                        <span>Pricing without HBO: 1st = $13.99 / 2nd = $12 / 3rd = $13 / 4th = $10 / 5th = n/a</span>
                        <div>
                            <label><input type="checkbox" value="hbo"> HBO</label> <a href="">Quick View</a> | <a href="">Details</a>
                        </div>
                    </div>
                    <div>
                        <h1>Add Extra Services</h1>
                        <div>
                            <label><input type="checkbox" value="dtv_pp"> DIRECTV Protection Plan</label> <a href="">Quick View</a> | <a href="">Details</a>
                        </div>
                    </div>
                </div>
                <div class="grid__item portable--one-third desk--one-third">
                    <div>
                        <h1>Package Totals</h1>
                        <div>Base: $64.99</div>
                        <div>Premium: $17.99</div>
                        <div>Extras: $22</div>
                        <div><strong>1st Month Total: $104.98</strong></div>
                    </div>
                    <button>Calculate</button> <button>Reset</button>
                    <hr />
                    <div>
                        <h1>Related Links</h1>
                        <div>
                            <h3>
                                <a href="">Regional Sports Fee</a>
                            </h3>
                        </div>
                        <div>
                            <h3>Packages:</h3>
                            <ul>
                                <li>
                                    <a href="">Expired</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h3>Add Ons:</h3>
                            <ul>
                                <li>
                                    <a href="">Encore (A La Carte)</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>